[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wheel = "*"
commitizen = "*"
build = "*"
pyautogui = "*"
pyclick = "*"
asyncio = "*"
keyboard = "*"
pytest-cov = "*"
pytest = "*"

[dev-packages]
pre-commit = "*"
commitizen = "*"
toml = "*"

[requires]
python_version = "3.11"
